notebook==6.4.6
jupyterhub==1.5.0
jupyterlab==3.6.7
jupyter_kernel_gateway==2.4.0
jupyterlab-git==0.30
supervisor==4.1.0
jupyter_contrib_nbextensions==0.5.1
jupyter_nbextensions_configurator==0.4.1
ipython==8.10.0
cryptography==41.0.6
nodejs>=12.0.0
jupyter-server>=2.11.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
